<!DOCTYPE html>
<html>
    <title>
        <meta charset="utf-8">
        Welcome to the home page
    </title>
    <body>
        <form method= "get" action="/signup">
            <input type="submit" value="Sign Up" />
        </form>
        <h1>Welcome home</h1>
        <img align="center" src = "hello.png">
    </body>
</html>